* {
    background-color: black;
}
h1 {
    color: white;
    font-size: 36px;
    text-decoration: underline;
}

td {
    font-size: 40px;
}
table {
    padding: 50px;
    margin-left: 500px;
}
td {
    padding: 50px;
}
.firsth1 {
    background-color: red;
}
.nextli {
    background-color: blue;
}
.firstli {
    background-color: white;
}
th {
    color: white;
}
